<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
</head>

<body>
  <p>Dear <%= user.firstName %> <%= user.lastName %>,</p>

  <p>A request has been received to reset your password on <%= appName %>. If you did not make any change-password
    request, please ignore this mail, and make sure you secure your account by changing your password any time soon.</p>

  <p>To reset your password, please click on the link below...</p>

  <p><a href="<%= link %>"><%= link %></a></p>

  <p>(In case it does not work, you can copy and paste the above link in your browser address bar)</p>

  <p>Best Wishes,<br>
    <%= appName %></p>

  <hr>

  <p>
    You received this email because you are registered on <%= appName %> with the email address: <%= user.email %></p>
</body>

</html>
